footer {
  background-color: lighten($darkCyanModerate, 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-logo {
    margin-top: 2rem;
    svg {
      path {
        fill: $darkCyanModerate;
      }
    }
  }

  .links {
    margin: 1rem 0;
    ul {
      display: flex;

      .link-item {
        margin: 0 0.5rem;
        list-style: none;

        a {
          color: $darkCyanModerate;
          text-decoration: none;
          font-size: $fontSize-sm - 2;

          &:hover {
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .socials {
    margin: 2rem 0;

    svg {
      display: inline-block;
      margin: 0 0.5rem;

      &:hover {
        cursor: pointer;
        path {
          fill: $white;
        }
      }
    }
  }
}
